# Dossiers
site/tmp/*
!site/tmp/.gitkeep
site/pdf/*
!site/pdf/.gitkeep
site/images/profil/*
!site/images/profil/photo_profil_default.jpg

# Doxygen
site/Doxyfile
site/Doxygen/*

# jquery-ui
site/css/jquery-ui.css
site/js/jquery-ui.js

# Archives
*.zip

# Fichiers temporaires gedit
*.*~
