.onglet {
    display: inline-block;
    margin-right: 5px; /*pour gérer les espaces entre les onglets*/
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.onglet_0 {
    background: #C9C65B;
    border-bottom: 1px solid black;
}

.onglet_1 {
    background: #969620;
    border-bottom: 0px solid black;
    padding-bottom: 4px;
}

.contenu_onglet {
    background-color: #969620;
    border: 1px solid black;
    margin-top: -1px;
    padding: 5px;
    display: none;
/*    height: 10%;*/
}
