/***************************** Positionement page du profil ***********************************/
#profil_photo {
    display: inline-block;
    width: 200px;
    border: 5px solid;
    vertical-align: top;
}

#profil_description {
    display: inline-block;
    /*border-right: 5px solid;*/
    vertical-align: top;
    width: 55%;
    margin-top: 10px; /*pour aligner avec #contenu > :first-child */
    padding: 1px 20px;
}

#profil_description h4 {
    text-decoration: underline;
}

#profil_bouton {
    display: inline-block;
    width: 10%;
    margin-top: 10px;
    /*border: 1px solid blue;*/
}

#profil_bouton a {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background: url(../images/boutonnoir.png) no-repeat;
    color: white;
    text-decoration: none;
}

#profil_bouton a:hover {
    background: url(../images/boutonnoir2.png) no-repeat;
}

#profil_general {
    margin-top: 10px;
    padding-top: 10px;
}
